
.page-search {
  display: flex;
  flex-direction: row-reverse;
  background-color: #f5f5f5;
  justify-content: space-around;
  padding: 4px 0 4px 0;
}

.page-search__input-text {
  background-color: #f5f5f5;
  border: none;
}

.page-search__input-text::placeholder{
  @include font-reg;
  line-height: 20px;
  color: $main;
}

.page-search__label svg{
  fill: $main;
  padding: 4px 0 0 0;
}