.pagination {
  display: flex;

  list-style: none;
  text-decoration: none;
}

.pagination__link {
  display: block;

  line-height: 22px;
  color: $main;
  text-decoration: none;
  width: 44px;
  height: 44px;
  text-align: center;

  @include font-opensans;

}
