.recent__title {
  position: relative;

  margin: 30px 0 50px 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;

  @include font-bold;

  &:before {
    content: "";
    position: absolute;
    top: 36px;
    right: 175px;

    width: 125px;
    height: 2px;

    background-color: $blue;
  }
  @media (min-width: 768px) {
    margin: 20px 0 57px 0;

    &:before {
      right: 250px;
    }
  }
}

.recent__post {
  margin: 0 0 23px 0;
}
