.site-menu {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $grey;
  }

  @media (min-width: 1200px) {
    border: none;
    width: 550px;
    justify-content: space-around;
  }
}

.site-menu__link {
  display: block;
  padding: 20px 50px 15px 25px;

  font-size: 20px;
  line-height: 20px;
  color: $main;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;

  border-top: 1px solid $grey;

  @include font-extrabold;
  @include hover-active;

  @media (min-width: 768px) {
    padding: 20px 10px 15px 10px;
    border: none;
  }
  @media (min-width: 1200px) {
    line-height: 47px;
    padding: 11px 10px 11px 10px;
  }
}
