.tags__title {
  position: relative;

  margin: 50px 0 57px 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;

  @include font-bold;

  &:before {
    content: "";
    position: absolute;
    top: 40px;
    right: 175px;

    width: 125px;
    height: 2px;

    background-color: $blue;
  }

  @media (min-width: 768px) {
    margin: 0 0 57px 0;

    &:before {
      right: 250px;
    }
  }
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tags__links {
  display: block;
  margin: 0 17px 20px 0;
  padding: 12px 15px 12px 14px;

  font-size: 14px;
  line-height: 20px;
  color: $main;
  text-decoration: none;
  letter-spacing: 0.3px;

  background-color: $grey;
  &:hover,
  &:active {
    color: #ffffff;

    background-color: $blue;
  }
}
