@mixin font-reg {
  font-weight: 400;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-style: normal;
}

@mixin font-bold {
  font-weight: 700;
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-style: normal;
}

@mixin font-extrabold {
  font-weight: 800;
  font-family: "OpenSans-ExtraBold", "Arial", sans-serif;
  font-style: normal;
}

@mixin font-italic {
  font-weight: 400;
  font-family: "OpenSans-Italic", "Arial", sans-serif;
  font-style: italic;
}

@mixin hover-active {
  &:hover,
  &:focus {
    color: $blue;
    outline: none;
  }
  &:active {
    color: rgba(0, 85, 186, 0.7);
  }
}
